@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* header */

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #212124;
  }
  ul {
     padding: 0px!important; 
  }
  .menu-principal {
  width: 100%;
  background-color: #252323;
  height: 60px;
  }
  main, .content {
  margin: 0 auto;
  width: 980px;
  position: relative;
  }
  .logo {
   float: left;
   padding: 16px;
   width: 70%;
  }
  .redes-sociais ul li {
  margin-left: 25px;
  display: inline-block;
  float: left;
  list-style: none;
  }
  .redes-sociais {
  width: 25%;
  float: right;
  }
  .header-2 {
    background-color: #212124;
  width: 980px;
  margin: 0 auto;
  padding: 16px;
  }
  .menu-urls {
  height: 80px;
  border-bottom: 3px solid #efefef;
  }
  .menu ul li {
      display: inline-block;
      color: #8b8b8b;
      margin-left: 15px;
      height: 50px;
  }
  
  .menu ul li:hover {
      border-bottom: 3px solid rgb(170, 14, 14);
  }
  
  .menu ul li a:hover {
      color: rgb(170, 14, 14);
      
  }
  
  .menu ul li a {
      color: #8b8b8b;
      text-decoration: none;
      font-size: 18px;
      text-transform: uppercase;
  }
  .menu {
  width: 70%;
  float: left;
  }
  .busca {
      text-align: center;
      width: 30%;
      float: right;
  }
  .col-100 {
      width: 100%;
      float: left;
      position: relative;

  }

.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header {
  border-bottom: 3px solid rgb(170, 14, 14);
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}


.titulo {
  color: #dc3d4b;
  width: fit-content;
  font-weight: 500;
}

/* footer */

.col-4 {
  float: left;
  width: 25%;
  text-align: center;
}
.col-4 img {
cursor: pointer;
margin: 0 auto;
padding-top: 1em;
vertical-align: middle;
}
.col-4 img:hover {
  margin-top: 10px!important;
  position: relative!important;
}

.bloco-logos {
  height: 170px;
}

.bloco-logos img {
  margin-top: 50px;
}

.footer h3 {
  text-align: left;
}

.footer {
  background-image: url('../img/footer.png');
  color: #ffffff;
}

.footer-2 {
  background-image: url('../img/footer2.png');
  color: #c1c1c1;
  height: 90px;
}


.footer p {
  width: 90%;
  text-align: left;
}

.footer-2 p {
  padding: 10px;
}

.clock {
  color: #898989!important;
}

.clock:before {
  content: '';
  width:  15px;
  height: 15px;
  display: inline-block;
  background-image: url('../img/clock.png');
  float: left;
  background-repeat: no-repeat;
  padding-left: 5px;
}

.local:before, .emailico:before, .telefoneico:before {
  content: '';
  width:  17px;
  height: 24px;
  display: inline-block;
  float: left;
  background-repeat: no-repeat;
  padding-left: 5px;
}
.local:before {
  background-image: url('../img/local.png');
}  
.emailico:before {
  background-image: url('../img/emailico.png');
}  
.telefoneico:before {
  background-image: url('../img/telefoneico.png');
}  

.footer-frase {

  display: flex;
  justify-content: center;


}

/* LOGIN */

.banner .container .card {
  background-color: #e5e5e5;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: palevioletred;
  align-items: center;
  border-radius: 4px;
  margin-left: 400px;
  margin-bottom: 100px;
  margin-top: 50px
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DA DASHBOARD */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #dc3d4d;
  background-color: #311c1c;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #dc3d4d
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #b78460;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: rgb(151, 19, 19);
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: white;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: rgb(151, 19, 19);
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}

